[submodule "lib3dparty/glfw"]
	path = lib3dparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib3dparty/imgui"]
	path = lib3dparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib3dparty/glm"]
	path = lib3dparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib3dparty/spdlog"]
	path = lib3dparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib3dparty/yaml"]
	path = lib3dparty/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib3dparty/assimp"]
	path = lib3dparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib3dparty/entt"]
	path = lib3dparty/entt
	url = https://github.com/skypjack/entt.git
