imgui.ini

#Не включать папки временных объектов
#и папки IDE
**/x64
**/x86
**/.vs
Editor/sandbox/
out/
bin/
build/
.idea/
.vscode/
.cache/
.claude/
CMakeSettings.json
Makefile

#Не включать папки сборок
**/Debug
**/Release